<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Create Theatre</h2>
    <form action="/create_theatre" method="post">
        <input type ="text" name="email" placeholder="Theatre email" required><br><br>
        <input type ="text" name="password" placeholder="Theatre password" required><br><br>
        <input type ="text" name="theatrename" placeholder="Theatre name" required><br><br>
        <input type ="text" name="franchise" placeholder="Franchise" required><br><br>
        <input type="submit" value="Create Theatre">
    </form>
</body>
</html>